.data-footer{
  &>section{
    white-space: nowrap;
  }
  .data-status{
    padding-top: 15px;
  }
  .data-pagination{
    margin-top: 10px;
    text-align: right;
  }
  .pagination{
    display: inline-block;
    text-align: center;
    margin:0;
  }
}
.box .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
