{% extends 'mobile/base.njk' %}
{% block body %}
<div class="weui-toptips weui-toptips_warn js_tooltips" style="display: none;">错误提示</div>
<header class="page-nav">
  <h1>申请聚餐信息备案</h1>
</header>
<section class="page" id="J_page_main">
  <section class="page-inner">
    <form method="POST" id="J_form" enctype="multipart/form-data" name="cooker_vaildate">
      <!-- block -->
      <section class="weui-cells weui-cells_form">
        <section class="weui-cell">
          <header class="weui-cell__hd"><label class="weui-label">填表人</label></header>
          <article class="weui-cell__bd">
              <input class="weui-input" id="J_yh_applier" name="yh_applier" type="text" placeholder="姓名/单位名称" required>
          </article>
        </section>
      </section>
      <!-- /block -->
      <!-- block -->
      <section class="weui-cells weui-cells_form">
        <section class="weui-cell">
          <header class="weui-cell__hd"><label class="weui-label">宴会举办人</label></header>
          <article class="weui-cell__bd">
              <input class="weui-input" type="text" placeholder="请填写姓名" name="yh_master_name" id="J_yh_master_name" required>
          </article>
        </section>
        <section class="weui-cell">
          <header class="weui-cell__hd"><label class="weui-label">电话</label></header>
          <article class="weui-cell__bd">
              <input class="weui-input" id="J_yh_tel" name="yh_tel" type="tel" placeholder="请输入电话" required>
          </article>
        </section>
        <section class="weui-cell">
          <header class="weui-cell__hd"><label class="weui-label">预计人数</label></header>
          <article class="weui-cell__bd">
              <input class="weui-input" id="J_yh_num" name="yh_num" type="number" required>
          </article>
        </section>
        <section class="weui-cell">
          <header class="weui-cell__hd"><label class="weui-label">办宴时间</label></header>
          <article class="weui-cell__bd">
            <input type="date" class="weui-input" name="yh_date" id="J_date"
             pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
             required>
          </article>
        </section>
      </section>
      <!-- /block -->
      <!-- block -->
      <section class="weui-cells weui-cells_form">
        <header class="weui-cells__title">住址</header>
        <section class="weui-cell weui-cell_select weui-cell_select-after">
          <header class="weui-cell__hd">
            <label class="weui-label">蚌埠市</label>
          </header>
          <article class="weui-cell__bd">
            <select class="weui-select" name="yh_address_home_country" id="J_yh_address_home_1" required>
              <option selected value="">---市辖区/县---</option>
              <option>蚌山区</option>
              <option>龙子湖区</option>
              <option>禹会区</option>
              <option>淮上区</option>
              <option>怀远县</option>
              <option>固镇县</option>
              <option>五河县</option>
              <option>凤阳县</option>
            </select>
          </article>
        </section>
        <section class="weui-cell  weui-cell_select  weui-cell_select-after">
          <header class="weui-cell__hd">
            <label class="weui-label"></label>
          </header>
          <article class="weui-cell__bd">
            <select class="weui-select" name="yh_address_home_street" id="J_yh_address_home_2" required>
              <option selected value="">---乡镇/街道---</option>
              <option>燕山乡</option>
              <option>李楼乡</option>
              <option>宏业村街道</option>
            </select>
          </article>
        </section>
        <section class="weui-cell">
          <header class="weui-cell__hd"><label class="weui-label"></label></header>
          <article class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="XX路/村 XX号 XX幢/组 XX户" name="yh_address_home_detail" id="J_yh_address_home_3" required>
          </article>
        </section>
      </section>
      <!-- /block -->
      <!-- block -->
      <div class="weui-cells__title">办宴事由</div>
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <textarea class="weui-textarea" placeholder="请输入事由" rows="3" name="yh_reason" id="J_yh_reason"></textarea>
          </div>
        </div>
      </div>
      <!-- /block -->
      <!-- block -->
      <section class="weui-cells weui-cells_form">
        <header class="weui-cells__title">办宴地点</header>
        <section class="weui-cell  weui-cell_select weui-cell_select-after">
          <header class="weui-cell__hd">
            <label class="weui-label">蚌埠市</label>
          </header>
          <article class="weui-cell__bd">
            <input type="hidden" name="areaid" id="J_yh_areaid">
            <select class="weui-select" name="yh_address_country" id="J_yh_address_1" required>
              <option selected value="">---市辖区/县---</option>
              <option>蚌山区</option>
              <option>龙子湖区</option>
              <option>禹会区</option>
              <option>淮上区</option>
              <option>怀远县</option>
              <option>固镇县</option>
              <option>五河县</option>
              <option>凤阳县</option>
            </select>
          </article>
        </section>
        <section class="weui-cell  weui-cell_select  weui-cell_select-after">
          <header class="weui-cell__hd">
            <label class="weui-label"></label>
          </header>
          <article class="weui-cell__bd">
            <select class="weui-select" name="yh_address_street" id="J_yh_address_2" required>
              <option selected value="">---乡镇/街道---</option>
              <option>燕山乡</option>
              <option>李楼乡</option>
              <option>宏业村街道</option>
            </select>
          </article>
        </section>
        <section class="weui-cell">
          <header class="weui-cell__hd"><label class="weui-label"></label></header>
          <article class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="XX路/村 XX号 XX幢/组 XX户" name="yh_address_detail" id="J_yh_address_3" required>
          </article>
        </section>
      </section>
      <!-- /block -->
      <!-- block -->
      <div class="weui-cells__title">厨师</div>
      <section class="weui-cells weui-cells_form">
        <div id="J_yh_cookers_wrapper">
        </div>
        <div class="weui-cell weui-cell_access js-to-cooker-detail">
          <div class="weui-cell__bd">
              <span style="vertical-align: middle">编辑厨师信息</span>
          </div>
          <div class="weui-cell__ft"></div>
        </div>
      </section>
      <!-- /block -->
      <!-- block -->
      <div class="weui-cells__title">宴席食品申报清单</div>
      <section class="weui-cells weui-cells_form">
        <div id="J_yh_dinners_wrapper"></div>
        <div class="weui-cell weui-cell_access js-to-dinner-detail">
          <div class="weui-cell__bd">
              <span style="vertical-align: middle">编辑宴会食品</span>
          </div>
          <div class="weui-cell__ft"></div>
        </div>
      </section>
      <!-- /block -->
      <!-- block -->
      <!--
      <section class="weui-cells weui-cells_form">
        <div class="weui-cells__title">验证码</div>
        <div class="weui-cell weui-cell_vcode">
          <div class="weui-cell__bd">
            <input class="weui-input" name="yh_vcode" id="J_yh_vcode" type="text" placeholder="请输入验证码" required>
          </div>
          <div class="weui-cell__ft">
            <img class="weui-vcode-img" src="./images/vcode.jpg">
          </div>
        </div>
      </section>
      -->
      <!-- /block -->
      <!-- block -->
      <div class="weui-btn-area">
          <button type="button" class="weui-btn weui-btn_primary" id="J_submit"><i class="weui-loading"></i>确定</button>
      </div>
      <!-- /block -->
    </form>
  </section>
</section>
<section class="page" id="J_cooker_detail" style="display: none">
  <section id="J_cooker_list"></section>
  <section id="J_cooker_detail_add" class="weui-btn-area">
    <a href="javascript:;" class="js-cooker-add weui-btn weui-btn_plain-primary">添加厨师信息</a>
  </section>
  <section id="J_cooker_detail_complete" class="weui-btn-area">
    <a href="javascript:;" class="js-cooker-complete weui-btn weui-btn_primary">完成编辑</a>
  </section>
</section>
<section class="page" id="J_dinner_detail" style="display: none">
  <section id="J_dinner_list"></section>
  <section id="J_dinner_detail_add" class="weui-btn-area">
    <a href="javascript:;" class="js-dinner-add weui-btn weui-btn_plain-primary">添加食品信息</a>
  </section>
  <section id="J_dinner_detail_complete" class="weui-btn-area">
    <a href="javascript:;" class="js-dinner-complete weui-btn weui-btn_primary">完成编辑</a>
  </section>
</section>
<div id="loadingToast" style="display:none;">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
      <i class="weui-loading weui-icon_toast"></i>
      <p class="weui-toast__content">数据加载中</p>
  </div>
</div>
{% endblock %}
