{% macro homeMain() %}
{#
  where = 0 全部,1 已通过,2 未通过,3 待审核
  page = 0 当前页，显示数值+1
 #}
<section class="content-wrapper">
  <header class="content-header">
    <h1>厨师备案审核<small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/public/admin-home/index.html"><i class="fa fa-dashboard"></i>系统</a></li>
    </ol>
  </header>
  <!-- content -->
  <article class="content">
    <div class="row">
      <div class="col-xs-12">
      <!-- box -->
      <section class="box">
        <header class="box-header">
          <h3 class="box-title">工作台</h3>
        </header>
        <article class="box-body">
          <a class="btn btn-app btn-info" href="/public/admin-cooker/index.html">
            {# 如果可以显示未处理人数 #}
            {# <span class="badge bg-purple">891</span> #}
            <i class="fa fa-calendar"></i> 厨师备案审核
          </a>
          <a class="btn btn-app btn-info"  href="/public/admin-dinner/index.html">
            {# 如果可以显示未处理人数 #}
            {# <span class="badge bg-purple">891</span> #}
            <i class="fa fa-users"></i> 聚餐备案审核
          </a>
        </article>
      </section>
      <!-- /box -->
      </div>
    </div>
  </article>
  <!-- /content -->
</section>
{% endmacro %}
