<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>蚌埠市农村集体聚餐备案系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="keywords" />
    <meta name="description" content="description" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    {% block head %}{% endblock %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
{% block body %}{% endblock %}


{% block script %}{% endblock %}
</body>

</html>
