{% extends 'mobile/base.njk' %}
{% block body %}
<header class="page-nav">
  <h1>备案申请</h1>
</header>
<section class="page">
  <section class="page-inner">
    <a href="/public/user-cooker/index.html" class="weui-btn weui-btn_primary">提交厨师备案审核</a>
    <a href="/public/user-dinner/index.html" class="weui-btn weui-btn_primary">提交聚餐备案审核</a>
  </section>
</section>
{% endblock %}
